.projectsHeader {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 10%;
}

.projectsTitle {
  font-size: var(--font-body-s);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  opacity: 0.4;
  font-family: var(--font-heading);
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .projectsHeader {
    padding: 0;
    margin-bottom: 20px;
  }
}

